/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import "tailwindcss";
@import "tw-animate-css";


:root {
  --color-background: #fefae0;
  --color-foreground: #2b2d42;
  --color-muted: #fef6e4;
  --color-border: #e5e5e5;
  --color-primary: #a8dadc;
  --color-secondary: #f4a261;
  --color-destructive: #e76f51;
  --radius: 0.5rem;
}

.dark {
  --color-background: #1e1e1e;
  --color-foreground: #fefae0;
  --color-muted: #2a2a2a;
  --color-border: #3a3a3a;
  --color-primary: #72b8c6;
  --color-secondary: #e59a5a;
  --color-destructive: #f28482;
}

@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
}

@layer base {
  * {
    @apply border-[var(--color-border)] outline-[var(--color-primary)/50];
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Inter', sans-serif;

  }
}
